# Ignore everything in this directory
.idea/*
__*

# Except this file
!.gitignore
news/migrations/*
ngrok.exe
AWS_INFO.txt
!__init__.py
#cache
__pycache__

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
